.row
  .col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
    %h1.text-center All users
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th Email
      %tbody
        - @users.each_with_index do |user, i|
          %tr
            %td= i + 1
            %td= link_to user.email, user_path(user)
