%h1= @user.email
.jumbotron
  = @user.email
  %h2 Friends
  %table.table.table-striped
    %thead
      %tr
        %th #
        %th Email
    %tbody
      - @user.friends.each_with_index do |friend, i|
        %tr
          %td= i + 1
          %td= link_to friend.email, user_path(friend)

- if user_signed_in?
  %p= link_to 'Invite as a friend', invite_user_path(@user), method: :post, class: 'btn btn-sm btn-default'
