.row
  .col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
    - if @active_invitations.any?
      %h1.text-center Active Invitations
      %table.table.table-striped
        %thead
          %tr
            %th #
            %th Invited user
            %th Status
            %th Actions
        %tbody
          - @active_invitations.each_with_index do |invitation, i|
            %tr
              %td= i + 1
              %td= link_to invitation.friend.email, user_path(invitation.friend)
              %td= invitation.state
              %td= link_to 'accept', accept_invitation_path(invitation), method: :post

    - if @accepted_invitations.any?
      %h1.text-center Accepted Invitations
      %table.table.table-striped
        %thead
          %tr
            %th #
            %th Invited user
            %th Status
        %tbody
          - @accepted_invitations.each_with_index do |invitation, i|
            %tr
              %td= i + 1
              %td= link_to invitation.friend.email, user_path(invitation.friend)
              %td= invitation.state

    - if @rejected_invitations.any?
      %h1.text-center Rejected Invitations
      %table.table.table-striped
        %thead
          %tr
            %th #
            %th Invited user
            %th Status
        %tbody
          - @rejected_invitations.each_with_index do |invitation, i|
            %tr
              %td= i + 1
              %td= link_to invitation.friend.email, user_path(invitation.friend)
              %td= invitation.state
