%li= link_to 'Movies', movies_path
%li= link_to 'Genres', genres_path
%li= link_to 'Users', users_path
- if user_signed_in?
  %li= link_to 'Export', export_movies_path
  %li= link_to 'Friend Invitations', invitations_path if current_user.invitations.active.any?
